
<suite name="Suite" parallel="tests">

  <test  name="Test">
  
  <parameter name="Node" value="http://192.168.43.144:4444/wd/hub"/>
  <parameter name="browser" value="firefox"/>
    <classes>
      <class name="monday18Feb.DemoA"/>
    </classes>
  </test> 
  <test  name="TestA">
  
  <parameter name="Node" value="http://192.168.43.144:4444/wd/hub"/>
  <parameter name="browser" value="chrome"/>
    <classes>
      <class name="monday18Feb.DemoA"/>
    </classes>
  </test> 
</suite>
